@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Data.Model.Picture>

@{
    ViewBag.Title = "Список картинок";
}

<h2>Моя лента</h2>

@foreach (var picture in Model)
{
    <div class="img-container">
        <div data-toggle="popover"
             data-trigger="hover"
             title="Dismissible popover"
             data-content="And here's some amazing content. It's very engaging. Right?">
            <img src="~/images/@picture.Name" />
        </div>
        <div>
            <a href="@Url.Action("Index", "Home")">
                <i class="glyphicon glyphicon-thumbs-up"></i>
            </a>
            <a >
                <i class="glyphicon glyphicon-thumbs-down"></i>
            </a>
        </div>
    </div>
}

<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("PictureList", new { page }))

<style>
    .img-container {
        width: auto;
        text-align: center;
        padding: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
</style>


<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>

