@{
    ViewBag.Title = "О Сайте";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Сайт предназначен для поиска необходимых файлов, а так же их скачивания. Все искомые файлы находятся на нашем сервере и вовсе не запрашиваются из внешних источников. В этом сайте не предусмотрен предпросмотр скачиваемых файлов.</p>
