@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Томск<br />
    Вершинина 37<br />
    <abbr title="Телефон">Т:</abbr>
    8(929)3712157
</address>

<address>
    <strong>Почта:</strong>   <a href="mailto:mrt1@tpu.ru">mrt1@tpu.ru</a>   
</address>